* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(184, 184, 184);
}

body{
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
    
}
.order-summary {

    width: 400px;
    background-color: white;
    border-radius: 24px;
    text-align: center;
    margin: 1rem;
}
.order-summary__information {
    display: inline-block;
    margin: 0px 40px;
   
}

.order-summary__main-image {
    width: 100%;
    border-radius: 24px 24px 0 0;
}
.order-summary__header1 {
    color: black;
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
}
.order-summary__message {
    margin-bottom: 1rem;
}
.order-summary__selected-plan {
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 25% 50% 25%; 
}
.selected-plan__icon {
    border-radius: 50%;
    padding: 1rem;
}
.selected-plan__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.selected-plan__plan-name {
    color: black;
    font-weight: 700;
}
.selected-plan__plan-price {

}
.selected-plan__change-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}
.selected-plan__change-link:hover {
    text-decoration: none;
    filter: opacity(75%);
}
.order-summary__button {
    display: block;
    font-weight: 900;
    border-radius: 12px;
    background-color: hsl(245, 75%, 52%);
    width: 100%;
    padding: 10px 0;
    color: white;
    margin-bottom: 1rem;
    box-shadow: 0 8px 12px hsla(245, 75%, 52%, 0.26);
}
.order-summary__button:hover {
    filter: opacity(75%);
    cursor: pointer;
}
.order-summary__button--cancel {
    background-color: white;
    color: hsl(0, 0%, 67%);
    border-style: none;
    margin-bottom: 2rem;
    box-shadow: none;
}
.order-summary__button--cancel:hover {
    filter: opacity(100%);
    color: black;
}

@media only screen and (max-width: 400px) {
    * {
        font-size: 12px;
    }
    body{
        background-image: url("images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: hsl(225, 100%, 94%);
        
    }
    .order-summary {
    
        width: 325px;
        background-color: white;
        border-radius: 24px;
        text-align: center;
        margin: 1rem;
    }
    .selected-plan__information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 1rem;
    }
}